-@val item: model.Attempt
-@val s: skinny.Skinny

-# Be aware of package imports.
-# 1. src/main/scala/templates/ScalatePackage.scala
-# 2. scalateTemplateConfig in project/Build.scala

h3 #{s.i18n.getOrKey("attempt.detail")}
hr
-for (notice <- s.flash.notice)
  p(class="alert alert-info") #{notice}
table(class="table table-bordered")
  thead
    tr
      th #{s.i18n.getOrKey("attempt.id")}
      td #{item.id}
    tr
      th #{s.i18n.getOrKey("attempt.trainingId")}
      td #{item.trainingId}
    tr
      th #{s.i18n.getOrKey("attempt.exerciseId")}
      td #{item.exerciseId}
    tr
      th #{s.i18n.getOrKey("attempt.shooterId")}
      td #{item.shooterId}
    tr
      th #{s.i18n.getOrKey("attempt.result")}
      td #{item.result}
    tr
      th #{s.i18n.getOrKey("attempt.createdAt")}
      td #{item.createdAt}
    tr
      th #{s.i18n.getOrKey("attempt.updatedAt")}
      td #{item.updatedAt}

hr
div(class="form-actions")
  a(class="btn btn-default" href={s.url(Controllers.attempts.indexUrl)}) #{s.i18n.getOrKey("backToList")}
  a(href={s.url(Controllers.attempts.editUrl, "id" -> item.id)} class="btn btn-info") #{s.i18n.getOrKey("edit")}
  a(data-method="delete" data-confirm={s.i18n.getOrKey("attempt.delete.confirm")} href={s.url(Controllers.attempts.destroyUrl, "id" -> item.id)} rel="nofollow" class="btn btn-danger") #{s.i18n.getOrKey("delete")}
