-@val s: skinny.Skinny
-@val keyAndErrorMessages: skinny.KeyAndErrorMessages

-# Be aware of package imports.
-# 1. src/main/scala/templates/ScalatePackage.scala
-# 2. scalateTemplateConfig in project/Build.scala

div(class="form-group")
  label(class="control-label" for="name") #{s.i18n.getOrKey("exercise.name")}
  div(class="controls row")
    div(class={if(keyAndErrorMessages.hasErrors("name")) "has-error" else ""})
      div(class="col-xs-12")
        input(type="text" name="name" class="form-control" value={s.params.name})
    - keyAndErrorMessages.get("name").map { errors =>
      div(class="col-xs-12 has-error")
        - for (error <- errors)
          label(class="control-label") #{error}
    - }
div(class="form-group")
  label(class="control-label" for="description") #{s.i18n.getOrKey("exercise.description")}
  div(class="controls row")
    div(class={if(keyAndErrorMessages.hasErrors("description")) "has-error" else ""})
      div(class="col-xs-12")
        input(type="text" name="description" class="form-control" value={s.params.description})
    - keyAndErrorMessages.get("description").map { errors =>
      div(class="col-xs-12 has-error")
        - for (error <- errors)
          label(class="control-label") #{error}
    - }
div(class="form-group")
  label(class="control-label") #{s.i18n.getOrKey("exercise.createdAt")}
  div(class="controls row")
    div(class={if(keyAndErrorMessages.hasErrors("created_at")) "has-error" else ""})
      div(class="col-xs-2")
        input(type="text" name="created_at_year"   class="form-control" value={s.params.created_at_year}   placeholder={s.i18n.getOrKey("year")}   maxlength=4)
      div(class="col-xs-2")
        input(type="text" name="created_at_month"  class="form-control" value={s.params.created_at_month}  placeholder={s.i18n.getOrKey("month")}  maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="created_at_day"    class="form-control" value={s.params.created_at_day}    placeholder={s.i18n.getOrKey("day")}    maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="created_at_hour"   class="form-control" value={s.params.created_at_hour}   placeholder={s.i18n.getOrKey("hour")}   maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="created_at_minute" class="form-control" value={s.params.created_at_minute} placeholder={s.i18n.getOrKey("minute")} maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="created_at_second" class="form-control" value={s.params.created_at_second} placeholder={s.i18n.getOrKey("second")} maxlength=2)
    - keyAndErrorMessages.get("created_at").map { errors =>
      div(class="col-xs-12 has-error")
        - for (error <- errors)
          label(class="control-label") #{error}
    - }
div(class="form-group")
  label(class="control-label") #{s.i18n.getOrKey("exercise.updatedAt")}
  div(class="controls row")
    div(class={if(keyAndErrorMessages.hasErrors("updated_at")) "has-error" else ""})
      div(class="col-xs-2")
        input(type="text" name="updated_at_year"   class="form-control" value={s.params.updated_at_year}   placeholder={s.i18n.getOrKey("year")}   maxlength=4)
      div(class="col-xs-2")
        input(type="text" name="updated_at_month"  class="form-control" value={s.params.updated_at_month}  placeholder={s.i18n.getOrKey("month")}  maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="updated_at_day"    class="form-control" value={s.params.updated_at_day}    placeholder={s.i18n.getOrKey("day")}    maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="updated_at_hour"   class="form-control" value={s.params.updated_at_hour}   placeholder={s.i18n.getOrKey("hour")}   maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="updated_at_minute" class="form-control" value={s.params.updated_at_minute} placeholder={s.i18n.getOrKey("minute")} maxlength=2)
      div(class="col-xs-2")
        input(type="text" name="updated_at_second" class="form-control" value={s.params.updated_at_second} placeholder={s.i18n.getOrKey("second")} maxlength=2)
    - keyAndErrorMessages.get("updated_at").map { errors =>
      div(class="col-xs-12 has-error")
        - for (error <- errors)
          label(class="control-label") #{error}
    - }
div(class="form-actions")
  =unescape(s.csrfHiddenInputTag)
  input(type="submit" class="btn btn-primary" value={s.i18n.getOrKey("submit")})
    a(class="btn btn-default" href={s.url(Controllers.exercises.indexUrl)}) #{s.i18n.getOrKey("cancel")}
